<div class="container">
  <div class="row row-cols-4">
    <div class="col">
      <form>
        <div class="form-group">
          <img
            src="../../../assets/image/usuario.jpg"
            alt="..."
            class="img-thumbnail"
          />
          <div class="card">
            <div class="card-body">
              Nome
            </div>
            <div class="card-body">
              Email
            </div>
            <div class="card-body">
              Telefone
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="col">Column2</div> -->
    <div class="col-md-8">
      <form role="form">
        <div class="box-body">
          <div class="form-group" role="main">
            <label for="nome">Cidade</label>
            <input
              id="nome"
              name="nome"
              [(ngModel)]="cliente.cidade"
              class="form-control"
            />
          </div>
          <div class="form-group" role="main">
            <label for="valor">Estado</label>
            <input
              id="endereco"
              name="endereco"
              [(ngModel)]="cliente.estado"
              class="form-control"
            />
          </div>

          <div class="form-group" role="main">
            <label for="CPF">Serviço</label>
            <input
              id="cpf"
              name="cpf"
              [(ngModel)]="cliente.servico"
              class="form-control"
            />
          </div>
          <div class="form-group" role="main">
            <button (click)="listar()" class="btn btn-block btn-primary">
              Pesquisar
            </button>
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Endereço</th>
              </tr>
            </thead>
            <tr *ngFor="let c of clientes">
              <td>{{ c.nome }}</td>
              <td>{{ c.endereco }}</td>
              -->
              <!-- <td>{{c.cpf | cpf}}</td> -->
              <!-- <td><button (click)="editar(c)">Editar</button></td>
              <td><button (click)="deletar(c.id)">Deletar</button></td> -->
            </tr>
          </table>
        </div>
      </form>
    </div>
    <!-- <div class="col">Column4</div> -->
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-10">
      <form role="form">
        <div class="box-body">
          <div class="form-group" role="main">
            <label for="nome">Nome</label>
            <input
              id="nome"
              name="nome"
              [(ngModel)]="cliente.nome"
              class="form-control"
            />
          </div>
          <div class="form-group" role="main">
            <label for="valor">Endereço</label>
            <input
              id="endereco"
              name="endereco"
              [(ngModel)]="cliente.endereco"
              class="form-control"
            />
          </div>

          <div class="form-group" role="main">
            <label for="CPF">CPF</label>
            <input
              id="cpf"
              name="cpf"
              [(ngModel)]="cliente.cpf"
              class="form-control"
            />
          </div>
          <div class="form-group" role="main">
            <button (click)="salvar()" class="btn btn-block btn-primary">
              Salvar
            </button>
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Endereço</th>
              </tr>
            </thead>
            <tr *ngFor="let c of clientes">
              <td>{{ c.nome }}</td>
              <td>{{ c.endereco }}</td> -->
<!-- <td>{{c.cpf | cpf}}</td> -->
<!-- <td><button (click)="editar(c)">Editar</button></td>
              <td><button (click)="deletar(c.id)">Deletar</button></td>
            </tr>
          </table>
        </div>
      </form>
    </div> -->
<!-- <div class="col">
      3 of 3
    </div> -->
<!-- </div> -->

<!-- <div class="row">
    <div class="col-md-6">
      <form role="form">
        <div class="box-body">
          <div class="form-group" role="main">
            <label for="nome">Nome</label>
            <input
              id="nome"
              name="nome"
              [(ngModel)]="cliente.nome"
              class="form-control"
            />
          </div>
          <div class="form-group" role="main">
            <label for="valor">Endereço</label>
            <input
              id="endereco"
              name="endereco"
              [(ngModel)]="cliente.endereco"
              class="form-control"
            />
          </div>

          <div class="form-group" role="main">
            <label for="CPF">CPF</label>
            <input
              id="cpf"
              name="cpf"
              [(ngModel)]="cliente.cpf"
              class="form-control"
            />
          </div>
          <div class="form-group" role="main">
            <button (click)="salvar()" class="btn btn-block btn-primary">
              Salvar
            </button>
          </div>

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Endereço</th>
              </tr>
            </thead>
            <tr *ngFor="let c of clientes">
              <td>{{ c.nome }}</td>
              <td>{{ c.endereco }}</td> -->
<!-- <td>{{c.cpf | cpf}}</td> -->
<!-- <td><button (click)="editar(c)">Editar</button></td>
              <td><button (click)="deletar(c.id)">Deletar</button></td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div> -->
