<div class="sobre">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Projeto Beauty</h1>
      <p class="lead">
        AQUI NO PROJETO BEAUTY, sabemos que manter um negócio de beleza é uma
        tarefa complicada. Porém, sabemos também o quanto a tecnologia pode
        facilitar a vida das pessoas. Por isso, trabalhamos para desenvolver o
        melhor sistema de gestão voltado para negócios e profissionais de
        beleza, permitindo que suas rotinas sejam mais organizadas e também que
        encantem seus clientes oferecendo agendamento online.
      </p>
    </div>
  </div>
</div>
