<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#"> Projeto Beauty </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sobre']">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contato']">Contatos</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']"
          >ENTRAR &nbsp;&nbsp;&nbsp;</a
        >
      </li>
      <li class="nav-item justify-content-end">
        <a class="nav-link" [routerLink]="['/loginSalao']"
          >CADASTREU SEU SALÃO</a
        >
      </li>
    </ul>
  </div>

  <!-- <button
    type="button"
    class="btn btn-dark"
    data-toggle="modal"
    data-target="#exampleModal">
    ENTRAR
  </button>

  <button type="button" class="btn btn-dark" [routerLink]="['/loginSalao']">
    CADASTRE SEU SALÃO
  </button> -->
</nav>
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Entrar</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
<!-- <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
            <a routerLink="/register" class="btn btn-link">Registrar</a>
          </div>
        </form>
      </div> -->
<!-- <div class="form-group">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="logout()">
            SAIR
          </button>
          <button
            id="buttonEntrar"
            type="button"
            class="btn btn-primary" data-dismiss="modal" (click)="logout()">
            ENTRAR
          </button>
        </div>
      </div> -->
<!-- </div>
  </div>
</div> -->
